footer{
    min-height: 15vh; 
    background-color: #000;
    padding: 2rem 10rem;
}
.footer_container{
    display: flex;
    flex-direction: column;
    color: white;
}
.logo_socialicons{
    display: flex;
    justify-content: space-between;
}
.logo_socialicons h1{
    font-size: 2rem;

}
.logo_socialicons ul{
    display: flex;
}
.logo_socialicons ul li{
    position: relative;
    list-style: none;
    padding: 0 0.5rem;
    cursor: pointer;
}
.logo_socialicons ul li img{
    pointer-events: none;
}
.logo_socialicons ul li::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 2px solid #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.logo_socialicons ul li:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}
.navlinks_copyright{
    display: flex;
    justify-content: space-between;
}
.navlinks ul{
    display: flex;
}
.navlinks ul li{
    position: relative;
    padding: 1rem 0;
    position: relative;
    list-style: none;
    margin-right: 2rem;
    cursor: pointer;
}
.navlinks ul li::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 2px solid #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.navlinks ul li:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}
.navlinks_copyright span{
    padding: 1rem 0;
}