footer{
    min-height: 15vh; 
    background-color: #000;
    padding: 2rem 10rem;
}
.footer_container{
    display: flex;
    color: white;
    justify-content: space-between;
}
.logo_nav , .social_copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo_nav h1{
    font-size: 3rem;
    cursor: pointer;
}
.navlinks ul{    
    display: flex;
}
.navlinks ul li{
    padding: 0.5rem 0;
    position: relative;
    list-style: none;
    margin-right: 2rem;
    cursor: pointer;
}
.navlinks ul li:nth-child(5){
    margin-right: 0;
    padding-right: 0;
}

.navlinks ul li::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 2px solid #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.navlinks ul li:hover::after{
    border-bottom: 2px solid #fff;
    transform-origin: right;
    transform: scaleX(1);
}
.social_copyright{
    align-items: flex-end;
}
.social_copyright ul{
    display: flex;
    align-items: flex-end;
}
.social_copyright ul li{
    position: relative;
    list-style: none;
    margin-right: 2rem;
}
.social_copyright ul li img{
    pointer-events: none;
}
.social_copyright ul li:nth-child(4){
    margin-right: 0;
}
.social_copyright ul li::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    pointer-events: none;
    border-bottom: 2px solid #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.social_copyright ul li:hover::after{
    border-bottom: 2px solid #fff;
    transform-origin: right;
    transform: scaleX(1);
}